.links {
  list-style: none;
  margin-left: 750px;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li {
  margin: 0 2rem 0 2rem;
}

.links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.links a:hover,
.links a:active,
.links a.active {
  background-color: transparent;
  color: white;
}
