.chart{
   background-color: white;
   flex: 4;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   padding: 10px;
   color: gray;
   margin-top: 50px;
}

.chartTitle{
   margin-bottom: 20px;
}

.chartGrid{
   stroke: lightgray;
}