.book-enter {
  opacity: 0;
  transform: translateY(20px);
}

.book-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.book-exit {
  opacity: 1;
  transform: translateY(0);
}

.book-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

.book-exit-done {
  display: none;
}